

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-weight: 300;
    background-color: #000000;
}

ul, li {
    list-style: none ;
}

a {
    text-decoration: none;
}

.seccion-mellis {

}
.seccion_home {
  width: 100vw;
  height: 100vh;
  opacity: 1;
}
.enzo_home {
  
height: 22vh;
  
position: absolute;
  
z-index: 2;
  
margin: -3% 0% 0% -6%;
  
transform: translate(0%, 0%) scale(0.8); /* Inicialmente, la imagen está en 0.1x zoom */
  
opacity: 0.5; /* Hacer la imagen transparente inicialmente */
  
transition: opacity 4s, transform 3s; /* Transición para la opacidad y el zoom */
  
width: 91vw; /* ajusta este valor según tus necesidades */
  
shape-outside: polygon(0% 0%, 100% 25%, 75% 100%, 0% 100%);
  
height: 32vh;
}
.pili_home {
  height: 38vh;
  position: absolute;
  z-index: 2;
  margin: 126% 0% 0% 31%;
  transform: translate(0%, 0%) scale(0.8); /* Inicialmente, la imagen está en 0.1x zoom */
  opacity: 0.5; /* Hacer la imagen transparente inicialmente */
  transition: opacity 4s, transform 3s; /* Transición para la opacidad y el zoom */
  }

.conte-nombre img {
  height: 22vh;
  position: absolute;
  z-index: 3;
  margin: -3% 0 0 -18%;
  transform: translate(0%, 0%) scale(0.8); /* Inicialmente, la imagen está en 0.1x zoom */
  opacity: 0.5; /* Hacer la imagen transparente inicialmente */
  transition: opacity 4s, transform 3s; /* Transición para la opacidad y el zoom */
}

.conte-nombre p {
  text-align: center;
  padding: 7%;
  margin-top: 39%;}

#countdown {
    font-size: 2em;
    text-align: center;
    position: relative;
    z-index: 4;
    color: #ffffff;
    height: 1em;
    /* width: 10em; */
  }




  .reveal {
    opacity: 1 !important; /* Cuando la clase 'reveal' está presente, haz la imagen completamente visible */
    transform: translate(0%, 0%) scale(1) !important; /* Hacer zoom a 1x */
  }


.myImage {
  display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    color: white;
    transition: transform 2s ease; /* Agregamos una transición suave */
}

.conte-nombre{

background-color: rgb(255 255 255 / 80%);

height: 59vh;

width: 85vw;

margin: 51% 0% 0% 5%;

z-index: 1;

position: absolute;
}





.seccion-donde{
  width: 100vw;
  height: 100vh;

}

.seccion-donde img {
  width: 100vw;
  height: 100vh;
  opacity: 0.3;
  transition: opacity 4s, transform 3s;
  z-index: -1;
  position: relative;
}

.reveal2 {
  opacity: 1 !important; /* Cuando la clase 'reveal' está presente, haz la imagen completamente visible */
  transform: translate(0%, 0%) scale(1) !important; /* Hacer zoom a 1x */
}

.seccion-donde h1 {
  padding: 4%;
  margin: -184% 0 0 0;
  color: #fff;
  position: relative;
  text-align: center;
}

.info-donde {
  color: #fff;
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.seccion-donde p {
  padding: 0% 10% 7% 10%;
  margin: 0 0 0 0;
}

.info-donde iframe {
  height: 30vh;
  width: 86vw;
  margin: 7%;
  opacity: 0.7;
}

.confirmar-asistencia {
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #f7f7f7;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.confirmar-fondo {
  
height: 29vh;
}

.contenedor-confirmar {
  width: 77vw;
  height: 46vw;
  background-color: rgb(81 81 81 / 41%);
  z-index: 0;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contenedor-confirmar h1 {
  color: #ffffff;
  text-align: center;
  padding: 10%;
}

.imagen-what{
  width: 19vh;
  height: 6vh;
}